@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "css/reset.css";
@import "css/blocks/header.css";
@import "css/blocks/hero.css";
@import "css/blocks/market-trends.css";
@import "css/blocks/simple-step.css";
@import "css/blocks/about.css";
@import "css/blocks/comments.css";
@import "css/blocks/app.css";
@import "css/blocks/questions.css";
@import "css/blocks/footer.css";

/* Base styles */
:root {
    --color-grey: #ADB3BF;
    --color-blue: #1B70F1;
    --color-primary: #F7FAFF;
    --color-green: #06B470;
    --color-red: #F74E2C;
    --color-black: #131517;
    --color-white: #ffffff;
    --color-white2: #FDFDFD;
    --header-bg: #1E1F25;
    --card-bg: #272A34;
    --color-grey2: #808A9A;
    --color-grey3: #CFD3DA;
    --color-grey4: #BFC4CD;
}

a {
    color: var(--color-grey);
    transition: color .3s ease;
}
a:hover {
    color: var(--color-primary);
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--color-black);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--color-grey);
    line-height: 32px;
    max-width: 100vw;
    overflow-x: hidden;
}

.blue-btn {
    border-radius: 4px;
    color: var(--color-white);
    background: var(--color-blue);
    transition: all .5s ease;
}

.blue-btn:hover {
    box-shadow: 0px 0px 20px 0px var(--color-blue);
}

.container {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
}

.select-container {
    position: relative;
    transition: color .3s ease;
}
select {
    position: relative;
    z-index: 2;
    padding-right: 21px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.select-container::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 6px;
    margin: 10px auto;
    background-image: url('/img/header/arrow.svg');
    background-repeat: no-repeat;
    top: 0; right: 0;
    transition: transform .2s ease;
    z-index: -1;
}
.select-container:has(select:open)::after {
    transform: rotate(-180deg);
}
.select-container:hover  {
    color: var(--color-white);
}

@media (max-width: 800px) {
    .container {
        max-width: 343px;
    }
}