.about {
    margin: 120px 0;
    background-image: url('/img/hero/background.png');
    background-repeat: no-repeat;
}

.about__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}
.about__content::after {
    content: "";
    position: absolute;
    width: 96.875vw;
    height: 679px;
    border-radius: 100%;
    background: var(--color-blue);
    top: 98px;
    left: -8.49vw;
    filter: blur(140px);
    opacity: 6%;
    z-index: -1;
}

.about-top__title {
    font-size: 58px;
    font-weight: 700;
    line-height: 73px;
    color: var(--color-white);
}

.about-top__info {
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
}

.about__line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48%, rgba(255, 255, 255, 0.04) 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.about__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-bottom__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-bottom-cards__line {
    width: 100%;
    height: 1px;
    background: RGBA(255, 255, 255, 1);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.02) 100%);
    background-repeat: no-repeat;
    opacity: 20%;
}

.about-bottom__card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-bottom-card__number {
    font-size: 58px;
    line-height: 73px;
    color: var(--card-bg);
}

.about-bottom-card__content {
    text-align: start;
}

.about-bottom-card__content {
    max-width: 430px;
}

.about-bottom-card-content__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: var(--color-grey);
}

.about-bottom-card-content__info {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-grey);
}

.about-bottom-card__btn {
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--color-white);
}

.about-bottom__cards-counter {
    display: none;
}

@media (max-width: 1400px) {
    .about-bottom__photo img {
        max-width: 500px;
    }
}

@media (max-width: 1100px) {
    .about__bottom {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .about-bottom__photo img {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .about__content::after {
        width: 375px;
        height: 796px;
        left: -16px;
    }

    .about {
        margin: 60px 0;
    }

    .about__content {
        gap: 40px;
    }

    .about-top__title {
        font-size: 42px;
        line-height: 53px;
    }

    .about-top__info {
        margin-top: 20px;
        font-size: 16px;
        line-height: 26px;
    }

    .about__bottom {
        gap: 40px;
    }

    .about-bottom__cards {
        flex-direction: row;
        max-width: 100%;
        flex-wrap: nowrap;
        will-change: transform;
        gap: 30px;
    }

    .about-bottom__cards-container {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .about-bottom__card {
        min-width: 343px;
        flex-direction: column;
    }
    .about-bottom-card__number {
        color: var(--color-grey2);
    }
    .about-bottom-card__content {
        text-align: center;
    }
    .about-bottom-card-content__title {
        font-size: 20px;
        line-height: 30px;
        color: var(--color-white);
    }

    .about-bottom-cards__line {
        display: none;
    }

    .about-bottom-card-content__info {
        font-size: 14px;
        line-height: 22px;
        color: var(--color-grey3);
    }

    .about-bottom-card__btn {
        width: 100%;
        background-color: var(--color-blue);
        border-radius: 4px;
        font-size: 18px;
        line-height: 28px;
    }

    .about-bottom__cards-counter {
        display: flex;
        gap: 10px;
    }
    .about-bottom-cards-counter__line {
        width: 30px;
        height: 4px;
        background: var(--color-white);
        opacity: 20%;
        transition: all .5s ease;
    }
    .about-bottom-cards-counter__line.active {
        width: 40px;
        opacity: 100%;
        background: var(--color-grey3);
    }
}