.comments {
    background: var(--header-bg);
    background-image: url('/img/hero/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.comments__content {
    position: relative;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 60px;
}
.comments__content::after {
    content: "";
    position: absolute;
    width: 96.875vw;
    height: 647px;
    background: var(--color-blue);
    filter: blur(140px);
    left: -8.438vw;
    opacity: 4%;
    z-index: -1;
}

.comments__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.comments__title {
    font-size: 58px;
    font-weight: 700;
    line-height: 73px;
    color: var(--color-white);
}

.comments-top__info {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-grey);
}

.comments__line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48%, rgba(255, 255, 255, 0.04) 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.comments__slider-container {
    position: relative;
    overflow-x: hidden;
}

.comments__slider {
    display: flex;
    gap: 30px;
}

.comments-slider__item {
    background: var(--card-bg);
    min-width: 645px;
    border-radius: 10px;
    padding: 40px 30px;
}

.comments-slider-item__top {
    position: relative;
    width: 100%;
}
.comments-slider-item__top::after {
    content: "";
    position: absolute;
    right: 0; top: 0;
    width: 72px;
    height: 72px;
    background-image: url('/img/comments/decoration.png');
    background-position: center;
}

.comments-slider-item__user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comments-slider-item__user-photo {
    max-width: 72px;
    max-height: 72px;
}

.comments-slider-item__username {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: var(--color-white);
}

.comments-slider-item__user-position {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-grey4);
}

.comments-slider-item__content {
    margin-top: 30px;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-white);
}

.comments__slider-counter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.comments-slider-counter__line {
    width: 30px;
    height: 4px;
    background: var(--color-white);
    opacity: 20%;
    transition: all .5s ease;
}
.comments-slider-counter__line.active {
    width: 40px;
    background: var(--color-grey3);
    opacity: 100%;
}

@media (max-width: 800px) {
    .comments {
        overflow: hidden;
    }

    .comments__content {
        padding: 60px 0;
        gap: 40px;
    }
    .comments__content::after {
        left: -16px;
        width: 375px;
        height: 534px;
    }

    .comments__top {
        flex-direction: column;
        text-align: center;
    }

    .comments__title {
        font-size: 42px;
        line-height: 53px;
    }

    .comments-top__info {
        font-size: 16px;
        line-height: 26px;
    }

    .comments-slider__item {
        min-width: 343px;
        padding: 20px;
        border-radius: 6px;
    }

    .comments-slider-item__content {
        font-size: 18px;
        line-height: 28px;
    }
}