.footer {
    position: relative;
    padding: 120px 0 40px 0;
    background-image: url('/img/hero/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--header-bg);
    z-index: 1;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
     -ms-overflow-style: none;
}

.footer::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 520px;
    background: var(--color-blue);
    border-radius: 100%;
    top: 70px;
    left: 0;
    opacity: 2%;
    filter: blur(180px);
    z-index: -1;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__community {
    display: flex;
    align-items: center;
}

.footer-community__info {
    width: 139px;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-white2);
}

.footer-community__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48%, rgba(255, 255, 255, 0.04) 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.footer-nav-column__item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-nav-column__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-white2);
}

.footen-nav-column__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-nav-column__link {
    font-size: 16px;
    line-height: 24px;
}

.footer-nav-column__item span {
    padding: 4px 8px;
    background: rgba(27, 112, 241, 0.1);
    font-size: 14px;
    line-height: 20px;
    color: var(--color-blue);
    border-radius: 2px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copybook {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white2);
    gap: 20px;
}

.footer__copybook span {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--color-white);
    opacity: 40%;
}

.copyright-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-bottom__right {
    display: flex;
    gap: 30px;
}

.footer-bottom__select-container {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white2);
    transition: color .3s ease;
}

.footer-bottom__select-container select {
    padding: 6px 14px;
    padding-right: 42px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom__select-container::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url('/img/footer/arrow.svg');
    background-repeat: no-repeat;
    top: 9px; right: 14px;
    transition: transform .2s ease;
}
.footer-bottom__select-container:has(select:open)::after {
    transform: rotate(-180deg);
}

.mobile-line {
    display: none;
}

.footer__community-mobile {
    display: none;
}

@media (max-width: 800px) {
    .footer {
        padding: 60px 0 20px 0;
    }

    .footer__content {
        gap: 20px;
    }

    .footer__top {
        justify-content: center;
    }
    .footer__top .footer__community {
        display: none;
    }

    .footer__nav {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 13px;
        column-gap: 20px;
    }

    .footer__community-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .mobile-line {
        display: block;
    }

    .footer__copybook .hidden {
        display: none;
    }

    .footer__copybook {
        flex-direction: column-reverse;
        font-size: 14px;
        line-height: 22px;
    }

    .footer-bottom__right {
        display: none;
    }

    .copyright {
        color: var(--color-grey2);
    }

    .footer::after {
        width: 375px;
        height: 960px;
        top: 60px;
        left: 180px;
    }
}

@media (max-width: 500px) {
    .footer::after {
        left: 0;
    }
}