.hero {
    position: relative;
    background: var(--color-black);
    background-image: url('/img/hero/background.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__content {
    padding-top: 280px;
    position: relative;
}

.hero__left {
    max-width: 912px;
}

.hero-left__tag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-left__tag-line {
    height: 2px;
    width: 40px;
    background: var(--color-blue);
    border-radius: 2px;
}

.hero-left__tag-info {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: var(--color-blue);
}

.hero-left__title {
    margin-top: 10px;
    font-size: 96px;
    line-height: 121px;
    letter-spacing: -1.5px;
    font-weight: 700;
    color: var(--color-primary);
}
.hero-left__title br {
    display: none;
}

.hero-left__line {
    position: relative;
    display: block; 
    margin-left: 11.25vw;
    max-width: 547px;
    height: 2px;
    width: 100%;
}

.hero-left__line::after {
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 2px;
    background: RGBA(154, 195, 33, 0.1);
    background: linear-gradient(90deg,rgba(154, 195, 33, 0.1) 0%, rgba(154, 195, 33, 0.8) 48%, rgba(154, 195, 33, 0.1) 100%);
    mask-image: 
        repeating-radial-gradient(
            circle at 50% 50%, 
            transparent 0 4px, 
            black 4px 12px
        );

    -webkit-mask-image: 
        repeating-radial-gradient(
            circle at 50% 50%, 
            transparent 0 4px, 
            black 4px 12px
        );
    mask-size: 15px 2px;
    -webkit-mask-size: 15px 2px;
    mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
    overflow: hidden;
}

.hero-left__info {
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    max-width: 812px;
}

.hero-left__buttons {
    margin-top: 80px;
    display: flex;
    gap: 30px;
}

.hero-left__btn-start {
    width: 200px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero-left__btn-guide {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    width: 200px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 2;
}
.hero-left__btn-guide:hover {
    color: var(--color-blue);
}
.hero-left__btn-guide::after {
    content: "";
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('/img/hero/cloud.png');
    background-repeat: no-repeat;
    background-position-y: var(--position-bg, -80%);
    background-size: cover;
    z-index: -1;
    transition: all 1s ease;
}

.hero__right {
    position: absolute;
    top: 14.444vh; right: -4.688vw;
}

.hero-right__img {
    position: relative;
    z-index: 0;
}

.hero-right__img::after {
    content: "";
    position: absolute;
    width: 40.47vw;
    height: 71.944vh;
    background: #5570FE;
    border-radius: 777px;
    top: 80px; right: 0; bottom: 0; left: 20px;
    z-index: -10;
    filter: blur(140px);
    opacity: 0.06;
}

.hero-right__img img {
    width: 43.59vw;
}


.hero__bottom {
    padding-top: 165px;
}
.hero-bottom__market-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}

.hero-bottom__market {
    display: flex;
    flex-direction: column;
    gap: 0.521vw;
    padding: 0.521vw 1.042vw;
}

.hero-bottom__market-info {
    display: flex;
    align-items: center;
}

.hero-bottom__market-type {
    font-size: 0.833vw;
    line-height: 1.25vw;
    width: 86px;
}

.hero-bottom__market-growth {
    display: flex;
    align-items: center;
    gap: 0.313vw;
    font-size: 0.729vw;
    font-weight: 600;
    line-height: 1.042vw;
    color: var(--color-green);
}

.hero-bottom__market-price {
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.667vw;
    color: var(--color-white);
}

.hero-bottom__market-line {
    width: 1px;
    height: 40px;
    background: var(--color-white);
    opacity: 0.2;
    border-radius: 1px;
}

@media (max-width: 1800px) {
    .hero__right {
        right: 0;
    }
}

@media (max-width: 1300px) {
    .hero__right {
        top: 45vh;
    }

    .hero__bottom {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hero__right {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero__right {
        position: static;
        display: block;
    }

    .hero-right__img img {
        width: 100%;
    }

    .hero-right__img::after {
        width: 375px;
        height: 412px;
        top: 20px;
        left: -15px;
    }

    .hero__content {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 98px;
    }

    .hero__left {
        text-align: center;
    }

    .hero-left__tag {
        justify-content: center;
    }
    .hero-left__tag-info {
        font-size: 20px;
        line-height: 30px;
    }
    .hero-left__tag-line {
        width: 20px;
    }

    .hero-left__title {
        font-size: 38px;
        letter-spacing: 0;
        line-height: 48px;
    }
    .hero-left__title br {
        display: block;
    }

    .hero-left__line {
        max-width: 343px;
        margin: 16px auto 0 auto;
    }

    .hero-left__info {
        font-size: 18px;
        line-height: 28px;
    }

    .hero-left__buttons {
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }
    .hero-left__buttons button {
        width: 100%;
    }
}