.market-trends {
    padding: 120px 0;
    background: var(--color-black);
}

.market-trends__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.market-trends__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.market-trends__title {
    font-size: 58px;
    font-weight: 700;
    line-height: 73px;
    color: var(--color-white);
}

.market-trends-nav__links-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.market-trend-nav__link a {
    font-size: 20px;
    line-height: 32px;
    color: var(--color-grey);
}

.market-trends__line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48%, rgba(255, 255, 255, 0.04) 100%);
    background-repeat: no-repeat;
    background-position: center;
}


.market-trends-info__cards {
    display: flex;
    gap: 30px;
}

.market-trends-info__card {
    border-radius: 10px;
    border: 2px solid var(--header-bg);
    padding: 40px 30px;
    text-align: center;
}

.market-trends-info-card__name {
    font-size: 20px;
    line-height: 32px;
    margin-top: 20px;
    color: var(--color-white);
}

.market-trends-info-card__growth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.market-trends-info-card__growth-value {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--color-green);
}
.market-trends-info-card__growth-value.value-down {
    color: var(--color-red);
}

.market-trends__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 240px;
    width: 100%;
    height: 56px;
    margin: 0 auto;
    gap: 6px;
}

@media (max-width: 1300px) {
    .market-trends-info__card {
        min-width: 240px;
    }
    .market-trends-info__cards {
        overflow-x: auto;
        gap: 20px;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .market-trends-info__cards::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1000px) {
    .market-trends__top {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .market-trends {
        padding: 60px 0;
    }

    .market-trends__content {
        gap: 40px;
    }

    .market-trends__title {
        font-size: 42px;
        line-height: 53px;
    }

    .market-trends-nav__links-list {
        max-width: 343px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .market-trends-nav__links-list::-webkit-scrollbar {
        display: none;
    }
    .market-trend-nav__link {
        flex: 0 0 auto;
        white-space: nowrap;
    }

    .market-trends__button {
        max-width: 100%;
        width: 100%;
    }

    .market-trends-info__card {
        background: var(--header-bg);
        padding: 20px;
        border: none;
    }
}