.simple-step {
    position: relative;
    padding: 120px 0;
    background: var(--header-bg);
}
.simple-step::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url('/img/hero/background.png');
    background-repeat: no-repeat;
}

.simple-step__content {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    z-index: 1;
}
.simple-step__content::after {
    content: "";
    position: absolute;
    width: 96.875vw;
    height: 693px;
    background: var(--color-blue);
    border-radius: 100%;
    left: -8.4vw;
    z-index: -1;
    filter: blur(140px);
    opacity: 4%;
}

.simple-step-top__title {
    font-size: 58px;
    font-weight: 700;
    line-height: 73px;
    color: var(--color-white);
}

.simple-step-top__info {
    margin: 30px auto 0 auto;
    max-width: 1050px;
    font-size: 18px;
    line-height: 28px;
}

.simple-step__line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48%, rgba(255, 255, 255, 0.04) 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.simple-step__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.simple-step__card {
    padding: 60px 30px;
    border-radius: 10px;
    background: var(--card-bg);
}

.simple-step-card__title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--color-white);
}

.simple-step-card__info {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
}

.simple-step-card__btn {
    color: var(--color-white);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    margin: 40px auto 0 auto;
    gap: 8px;
    transition: all .5s ease;
}

@media (max-width: 1300px) {
    .simple-step__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .simple-step__card {
        max-width: 375px;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .simple-step {
        padding: 60px 0;
    }

    .simple-step-top__title {
        font-size: 42px;
        line-height: 53px;
    }

    .simple-step-top__info {
        margin-top: 20px;
        font-size: 16px;
        line-height: 26px;
    }

    .simple-step__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .simple-step__card {
        padding: 20px;
    }

    .simple-step-card__title {
        font-size: 26px;
        line-height: 33px;
    }

    .simple-step-card__info {
        font-size: 14px;
        line-height: 22px;
    }

    .simple-step-card__btn {
        width: 100%;
        background: var(--color-blue);
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        border-radius: 6px;
    }

    .simple-step__content::after {
        width: 375px;
        height: 1508px;
        top: 118px;
        left: 0;
    }
}